CourierApi/bin/Debug/net5.0/appsettings.Development.json
CourierApi/bin/Debug/net5.0/appsettings.json
CourierApi/bin/Debug/net5.0/CourierApi.deps.json
CourierApi/bin/Debug/net5.0/CourierApi.dll
CourierApi/bin/Debug/net5.0/CourierApi.exe
CourierApi/bin/Debug/net5.0/CourierApi.pdb
CourierApi/bin/Debug/net5.0/CourierApi.runtimeconfig.dev.json
CourierApi/bin/Debug/net5.0/CourierApi.runtimeconfig.json
CourierApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
CourierApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
CourierApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CourierApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CourierApi/bin/Debug/net5.0/ref/CourierApi.dll
CourierApi/obj/CourierApi.csproj.nuget.dgspec.json
CourierApi/obj/CourierApi.csproj.nuget.g.props
CourierApi/obj/CourierApi.csproj.nuget.g.targets
CourierApi/obj/project.assets.json
CourierApi/obj/project.nuget.cache
CourierApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CourierApi/obj/Debug/net5.0/apphost.exe
CourierApi/obj/Debug/net5.0/CourierApi.AssemblyInfo.cs
CourierApi/obj/Debug/net5.0/CourierApi.AssemblyInfoInputs.cache
CourierApi/obj/Debug/net5.0/CourierApi.assets.cache
CourierApi/obj/Debug/net5.0/CourierApi.csproj.AssemblyReference.cache
CourierApi/obj/Debug/net5.0/CourierApi.csproj.CopyComplete
CourierApi/obj/Debug/net5.0/CourierApi.csproj.CoreCompileInputs.cache
CourierApi/obj/Debug/net5.0/CourierApi.csproj.FileListAbsolute.txt
CourierApi/obj/Debug/net5.0/CourierApi.dll
CourierApi/obj/Debug/net5.0/CourierApi.GeneratedMSBuildEditorConfig.editorconfig
CourierApi/obj/Debug/net5.0/CourierApi.genruntimeconfig.cache
CourierApi/obj/Debug/net5.0/CourierApi.MvcApplicationPartsAssemblyInfo.cache
CourierApi/obj/Debug/net5.0/CourierApi.MvcApplicationPartsAssemblyInfo.cs
CourierApi/obj/Debug/net5.0/CourierApi.pdb
CourierApi/obj/Debug/net5.0/CourierApi.RazorTargetAssemblyInfo.cache
CourierApi/obj/Debug/net5.0/project.razor.json
CourierApi/obj/Debug/net5.0/ref/CourierApi.dll
CourierApi/obj/Debug/net5.0/staticwebassets/CourierApi.StaticWebAssets.Manifest.cache
CourierApi/obj/Debug/net5.0/staticwebassets/CourierApi.StaticWebAssets.xml
CourierApiUnitTests/bin/Debug/net5.0/appsettings.Development.json
CourierApiUnitTests/bin/Debug/net5.0/appsettings.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.deps.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.dll
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.exe
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.pdb
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.runtimeconfig.dev.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApi.runtimeconfig.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApiUnitTests.deps.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApiUnitTests.dll
CourierApiUnitTests/bin/Debug/net5.0/CourierApiUnitTests.pdb
CourierApiUnitTests/bin/Debug/net5.0/CourierApiUnitTests.runtimeconfig.dev.json
CourierApiUnitTests/bin/Debug/net5.0/CourierApiUnitTests.runtimeconfig.json
CourierApiUnitTests/bin/Debug/net5.0/CoverletSourceRootsMapping
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.OpenApi.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.AdapterUtilities.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
CourierApiUnitTests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
CourierApiUnitTests/bin/Debug/net5.0/Newtonsoft.Json.dll
CourierApiUnitTests/bin/Debug/net5.0/NuGet.Frameworks.dll
CourierApiUnitTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
CourierApiUnitTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
CourierApiUnitTests/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
CourierApiUnitTests/bin/Debug/net5.0/testhost.dll
CourierApiUnitTests/bin/Debug/net5.0/testhost.exe
CourierApiUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ref/CourierApiUnitTests.dll
CourierApiUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CourierApiUnitTests/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CourierApiUnitTests/obj/CourierApiUnitTests.csproj.nuget.dgspec.json
CourierApiUnitTests/obj/CourierApiUnitTests.csproj.nuget.g.props
CourierApiUnitTests/obj/CourierApiUnitTests.csproj.nuget.g.targets
CourierApiUnitTests/obj/project.assets.json
CourierApiUnitTests/obj/project.nuget.cache
CourierApiUnitTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.AssemblyInfo.cs
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.AssemblyInfoInputs.cache
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.assets.cache
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.csproj.AssemblyReference.cache
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.csproj.CopyComplete
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.csproj.CoreCompileInputs.cache
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.csproj.FileListAbsolute.txt
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.dll
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.GeneratedMSBuildEditorConfig.editorconfig
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.genruntimeconfig.cache
CourierApiUnitTests/obj/Debug/net5.0/CourierApiUnitTests.pdb
CourierApiUnitTests/obj/Debug/net5.0/ref/CourierApiUnitTests.dll
CourierApiUnitTests/bin/Debug/net5.0/Castle.Core.dll
CourierApiUnitTests/bin/Debug/net5.0/Moq.dll
